.kuning {
    background-color: yellow;
    height: 100px;
}

.pink {
    background-color: pink;
}

.hijau {
    background-color: green;
}

.biru {
    background-color: blue;
}

.navigasi {
    height: 100px;
}
