.navigasi {
    background-color: blue;
    height: 100px;
}

.kolom1 {
    background-color: yellow;
    height: 100px;
}

.kolom2 {
    background-color: orange;
    height: 100px;
}

.kolom3 {
    background-color: cadetblue;
    height: 100px;
}

